
{% extends 'accounts/base.html' %}
    {% load staticfiles %}
{% block body %}

<div class="col-md-12" style="padding-top:15px;">
    <div class="panel panel-default panel-profile m-b-md">
        <div class="panel-body text-center" style="padding: 5px 0 5px 0;">
            <h5 class="panel-title">
                <span class="text-inherit">
                    Success!
                </span>
            </h5>



            <div id="smt-130299012" style="width:300px;margin:auto;padding: 10px 5px 5px 5px"><script src="http://soma.smaato.net/oapi/reqAd.jsp?pub=1100035391&amp;divid=smt-130299012&amp;adspace=130299012&amp;format=all&amp;formatstrict=true&amp;ref=http%3A%2F%2Fwww.sarahah.com%2Fmessages%2Fthankyou&amp;sbiframe=0&amp;pb=0&amp;width=300&amp;height=250&amp;dimensionstrict=false&amp;session=6dd33332-7258-3588-b889-5bbc8e934658&amp;atuid=fcb6424e-d770-0e83-2fb9-bd58337fdae8&amp;fcid=fcb6424e-d770-0e83-2fb9-bd58337fdae8&amp;cb=985ad73fa1514ca590429ba1bbbb8abb&amp;apiver=502&amp;client=adtag2300s&amp;response=JSONP"></script></div>


        </div>



    </div>
</div>

{% endblock %}